*{

box-sizing: border-box;
font-family: "Gaegu", serif;


}

header{
   width: 1366px;
   height:  200px;
   background-color: rgb(66, 85, 160);
   margin: auto;
}
header img{
   height: 100%;
}
nav{
   width: 1366px;
   height: 50px;
   background-color: #ffe200;
   margin: 0 auto;


display: flex;
justify-content: space-evenly;
align-items: center;
}
nav a{


text-decoration: none;
padding: 10px 20px;
font-family: "Mouse Memoirs", serif;
transition: .5s;

}

nav a:hover{

   background-color: #8dd8f8;
}

main{
   width: 1366px;
   height: auto;
   background-color: #8dd8f8;
   margin: 0 auto;
   
}
.personaje{
   width: 1300px;
   height: 400px;
 
   margin-top: 20px;
   margin-left: 33px;
   display: inline-block;
}
.foto{
   width: 400px;
   height: 400px;
 
   float: left;
   margin-left: 33px;
   text-align: center;

}
.foto img{
   height: 100%;
}
.texto{
   width: 800px;
   height: 400px;
   float: left;
   margin-left: 33px;
   padding: 20px;
}
.texto.h2{
   font-family: "Mouse Memoirs", serif;



}
footer{
   width: 1366px;
   height: 300px;
   background-color: rgb(66, 85, 160);
   margin: 0 auto;
}
